/**Desktop**/

$colorprimary: #9356dc;
$colorsecondary: #ff79da;
$colortertiary: #99e2d0;

$font-size-footer: 18px;
$clear-grey: #f2f2f2;
$dark-grey: #d3d3d3;
$clear: #ffff;

/*::before, ::after {
  margin: 0;
  padding: 0;
}*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");

body {
  font-family: Roboto, sans-serif;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**header-container**/

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  position: relative;
  box-shadow: 5px 5px 5px $dark-grey;
}

#logo {
  width: 200px;
  height: 90%;
}
/**nav-container**/
.nav-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  margin-left: 125px;
}

.nav-form input {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 30px;
  font-size: 18px;
  border: 0;
  background: transparent;
  color: #000;
  margin-left: 6px;
}

::placeholder {
  color: #000;

  ::-moz-placeholder {
    color: #000;
  }
}

.fa-map-marker-alt {
  padding: 0%;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 10px;
  cursor: text;
  padding: 25px;
  background-color: $clear;
}

.search-bar a {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.nav-bar h1 {
  display: flex;
  justify-content: center;
  font-family: Roboto, sans-serif;
  color: #000000;
  font-size: 26px;
  font-weight: 400;
  padding: 30px 10px 10px 20px;
}

.nav-bar {
  padding: 45px;
  text-align: center;
  background-color: $clear-grey;
}

.nav-bar p {
  display: flex;
  justify-content: space-evenly;
  font-size: 17px;
  padding: 2px 2px 21px 5px;
}

.nav-bar button {
  border: 0;
  padding: 12px 30px;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  box-shadow: 0 0 10px grey;
  background-image: linear-gradient(
    0deg,
    rgba(147, 86, 220, 0.9),
    rgba(255, 121, 218, 0.9)
  );
  cursor: pointer;
  transition-duration: 0.25s;
}

.nav-bar button:hover {
  background-image: linear-gradient(
    0deg,
    rgba(171, 127, 225, 0.9),
    rgba(237, 149, 212, 0.9)
  );
  box-shadow: 0 0 10px black;
}

/**filters-container**/

.filters-container {
  display: flex;
  flex-direction: column;
  padding: 24px 30px 30px 30px;
}

.filters-container h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  padding: 2%;
}

.filters-container ol {
  display: flex;
  flex-direction: row;
  padding: 0px 17px 10px 1px;
}

.filters-container li {
  display: flex;
  justify-content: space-between;
  border: 2px solid $clear-grey;
  height: 60px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: Opx;
  margin-right: 18px;
  border-radius: 20px;
  background-color: $clear-grey;
}

.fa-store-alt::before {
  padding: 1%;
}

.filters-container li:hover {
  background-color: $clear-grey;
  transform: scale(1.015);
}

.list-filters p {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  margin-left: 10px;
}

.filters-container i {
  padding-left: 15px;
  color: rgb(8, 8, 8);
}

/**nombre devant filtres**/

.bubble-number-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  font-weight: bold;
  border-radius: 50px;
  background-color: $colorprimary;
  color: white;
  font-size: 12px;
  box-shadow: 10px $dark-grey;
  margin-left: -17px;
}

.fonctionnement-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid $clear-grey;
  background-color: $clear-grey;
  color: black;
  border: none;
  margin-left: -3px;
}

/*.filters-container button:hover {
  background-color: #dcd2e9;
  transform: scale(1.015);
}*/

.filters-container a.btn {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 2px solid white;
  background-color: white;
  color: black;
}

.filters-container a.btn:hover {
  background-color: #dcd2e9;
  transform: scale(1.015);
}

/**restaurant-container**/

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  background-color: $clear-grey;
}

.restaurant-container h2 {
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  padding: 4% 0% 3% 0%;
  margin-left: 16px;
}

.cards-restaurant {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
  padding-top: 1%;
}

.card-image img {
  height: 175px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: center;
  border: 0 solid transparent;
}
/**restaurant-1-2**/
.card {
  position: relative;
  width: 48%;
}

/**restaurant-3-4**/
.card {
  position: relative;
  width: 48%;
}

/**badge**/
.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #99e2d0;
  color: #1b6150;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  right: 19px;
  top: 14px;
}

.card-text {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
  margin-top: -3px;
  padding: 10px;
  color: rgb(15, 15, 15);
  background-color: white;
  border-radius: 0 0 20px 20px;
  position: relative;
}

.card-text a {
  color: black;
}

.card-text p {
  font-size: 17px;
  margin: 5px;
  padding: 5px;
}

.card-text h3 {
  font-size: 19px;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}

/**footer**/

footer {
  background-color: black;
  height: 100%;
  padding: 20px;
}

.footer-container {
  margin-left: 22px;
}

.footer-container p {
  font-family: Shrikhand, cursive;
  font-size: 23px;
  font-weight: 400;
  color: white;
  margin: 0 1px 17px 2px;
}

.footer-container ul li {
  color: white;
  list-style: none;
  margin-top: 14px;
}

.footer-container a {
  color: white;
}

/**menu-1 menu-2 menu-3 menu-4**/

/**header-container**/

.fa-arrow-left {
  position: absolute;
  bottom: 15px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 20px;
  color: #000;
}

/**picture-container**/

.picture-container img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

/**restaurant1 restauranr2 restaurant3 restaurant4**/

.restaurant-1 .restaurant-2 .restaurant-3 .restaurant-4 {
  display: flex;
  justify-content: space-between;
}

.restaurant-container {
  display: flex;
  flex-direction: column;
}

.container-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  background: $clear-grey;
  border-radius: 30px 30px 0 0;
  padding: 67px 20px 0 20px;
  margin-top: -30px;
}

.container-menu h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Shrikhand, "cursive";
  font-weight: bold;
  padding: 10px 20px 0 10px;
  margin-top: -14px;
  margin-right: 13px;
  font-size: 28px;
}

.container-menu strong {
  font-weight: bold;
  align-self: center;
  margin-left: 18px;
  margin-right: 18px;
}

.list-title h2 {
  position: relative;
  font-weight: 400;
  margin: 36px;
  text-transform: uppercase;
}
.list-title h2::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 3px;
  bottom: 0;
  left: 2%;
  background-color: $colortertiary;
}

/**start**/
.start-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  transform: top;
  margin-top: 20px;
}

.start-text p h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.start-text {
  flex: 1;
  margin-right: 16px;
  margin-left: 16px;
  position: relative;
}

.start-1 {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  width: 40%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px $dark-grey;
  margin-right: 20px;
}

.start-2 {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  width: 40%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px $dark-grey;
  margin-top: 15px;
}

.start-3 {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  width: 40%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px $dark-grey;
  margin-top: 15px;
  margin-right: 20px;
}

.start-4 {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  width: 40%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px $dark-grey;
  margin-top: 15px;
}

/**plats**/
.plats-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  transform: top;
  margin-top: -20px;
}
.plat-text p h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plat-text {
  flex: 1;
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
}

.plat-1 {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  width: 40%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px $dark-grey;
  margin-right: 20px;
}

.plat-2 {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  width: 40%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px $dark-grey;
  margin-top: 15px;
}

.plat-3 {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  width: 40%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px $dark-grey;
  margin-top: 15px;
}

/**dessert**/
.dessert-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  transform-origin: top;
  margin-top: 15px;
}

.dessert-text p h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dessert-text {
  flex: 1;
  margin-right: 16px;
  margin-left: 16px;
  position: relative;
}

.dessert-1 {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  width: 40%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px $dark-grey;
  margin-right: 20px;
}

.dessert-2 {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  width: 40%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px $dark-grey;
  margin-top: 15px;
}

.dessert-3 {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  width: 40%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px $dark-grey;
  margin-top: 15px;
  margin-bottom: 18px;
}

.start-menu:hover {
  box-shadow: $dark-grey;
}

.plats-menu:hover {
  box-shadow: $dark-grey;
}

.dessert-menu:hover {
  box-shadow: $dark-grey;
}

/**animation check**/
.check {
  width: 0px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  font-size: 20px;
  overflow: hidden;
  transition-duration: 0.5s;
}

@keyframes check {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0, 50;
  }
  100% {
    opacity: 1;
  }
}

/**start**/
.start-1:hover .fa-check-circle {
  animation: 0.5s 0.5s 1 both rotate;
}
.start-2:hover .fa-check-circle {
  animation: 0.5s 0.5s 1 both rotate;
}
.start-3:hover .fa-check-circle {
  animation: 0.5s 0.5s 1 both rotate;
}
.start-4:hover .fa-check-circle {
  animation: 0.5s 0.5s 1 both rotate;
}

/**plat**/

.plat-1:hover .fa-check-circle {
  animation: 0.5s 0.5s 1 both rotate;
}
.plat-2:hover .fa-check-circle {
  animation: 0.5s 0.5s 1 both rotate;
}
.plat-3:hover .fa-check-circle {
  animation: 0.5s 0.5s 1 both rotate;
}

/**dessert**/
.dessert-1:hover .fa-check-circle {
  animation: 0.5s 0.5s 1 both rotate;
}
.dessert-2:hover .fa-check-circle {
  animation: 0.5s 0.5s 1 both rotate;
}
.dessert-3:hover .fa-check-circle {
  animation: 0.5s 0.5s 1 both rotate;
}

/**start-menu**/
.start-1:hover .check {
  width: 100px;
  transition-duration: 0, 5s;
  cursor: pointer;
  overflow: hidden;
}

.start-2:hover .check {
  width: 100px;
  transition-duration: 0, 5s;
  cursor: pointer;
  overflow: hidden;
}
.start-3:hover .check {
  width: 100px;
  transition-duration: 0, 5s;
  cursor: pointer;
  overflow: hidden;
}
.start-4:hover .check {
  width: 100px;
  transition-duration: 0, 5s;
  cursor: pointer;
  overflow: hidden;
}

/**plats-menu**/
.plat-1:hover .check {
  width: 100px;
  transition-duration: 0, 5s;
  cursor: pointer;
  overflow: hidden;
}
.plat-2:hover .check {
  width: 100px;
  transition-duration: 0, 5s;
  cursor: pointer;
  overflow: hidden;
}
.plat-3:hover .check {
  width: 100px;
  transition-duration: 0, 5s;
  cursor: pointer;
  overflow: hidden;
}

/**dessert-menu**/
.dessert-1:hover .check {
  width: 100px;
  transition-duration: 0, 5s;
  cursor: pointer;
  overflow: hidden;
}
.dessert-2:hover .check {
  width: 100px;
  transition-duration: 0, 5s;
  cursor: pointer;
  overflow: hidden;
}

.dessert-3:hover .check {
  width: 100px;
  transition-duration: 0, 5s;
  cursor: pointer;
  overflow: hidden;
}

/**rotate animation**/

.rotate {
  animation-name: rotate;
  transform: rotate(160deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/**slide animation**/

.slideInRight {
  animation-name: slideInRight;
  animation-duration: 0.5s;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/**start-menu**/
.start-1 {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.start-2 {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: both;
}
.start-3 {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}
.start-4 {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

/**plats-menu**/
.plat-1 {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-delay: 2.5s;
}
.plat-2 {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-delay: 3s;
}
.plat-3 {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-delay: 3.5s;
}

/**dessert-menu**/
.dessert-1 {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-delay: 4s;
}
.dessert-2 {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-delay: 4.5s;
}

.dessert-3 {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-delay: 5s;
}

/**bouton commander**/
.button-order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 30px 20px;
}

.order-btn {
  display: flex;
  justify-content: center;
  border: 0;
  padding: 12px 30px;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  box-shadow: 0 0 10px gray;
  background-image: linear-gradient(
    0deg,
    rgba(147, 86, 220, 0.9),
    rgba(255, 121, 218, 0.9)
  );
  cursor: pointer;
  transition-duration: 0.25s;
}

.order-btn:hover {
  background-image: linear-gradient(
    0deg,
    rgba(171, 127, 225, 0.9),
    rgba(237, 149, 212, 0.9)
  );
  box-shadow: 0 0 10px black;
}

/**footer-restaurant**/

.fas fa-hands-helping {
  color: white;
}

.fas fa-utensils {
  color: white;
}

/**heart animation**/

.heart {
  position: absolute;
  top: 41px;
  right: 43px;
  cursor: pointer;
}
.heart-1 {
  position: relative;
  margin-right: 10px;
  margin-bottom: 36px;
}

.heart-1 .heart-2 {
  position: absolute;
  top: O;
  left: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.heart-2 {
  opacity: 1;
  transition: 0.5s;
  color: black;
  margin-top: -68px;
}

.heart-1 {
  opacity: 0;
  -webkit-transition: 2.5s;
  transition: 0.5s;
  background-image: linear-gradient(
    0deg,
    rgba(147, 86, 220, 0.9),
    rgba(255, 121, 218, 0.9)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-1:hover {
  opacity: 1;
}

/**loading**/

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  position: fixed;
  font-family: "shrikhand";
  font-size: 28px;
  color: $colortertiary;
  background-color: $clear-grey;
  animation: out 550ms 4s linear 1 both;

  .spinner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 12px solid transparent;
    border-top: 12px solid $colorsecondary;
    border-bottom: 12px solid $colorprimary;
    -webkit-animation: spinner 0.5s linear 4 forwards;
    animation: spinner 1s linear infinite forwards;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes out {
  0% {
    opacity: 1;
    z-index: 50;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}

/***tablet***/
@media screen and (min-width: 768px) and (max-width: 992px) {
  /**image menus-restaurants**/
  .picture-container {
    max-width: 100%;
    max-height: 32em;
    width: 100%;
    object-fit: cover;
  }

  /**menu**/
  .container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list-title h2 {
    width: 100%;
  }

  .card {
    width: 22%;
  }

  .cards-restaurant .heart {
    top: 33px;
    right: 33px;
  }

  .cards-restaurant {
    display: flex;
    flex-direction: row;
  }

  .start-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .plats-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .dessert-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /**mobile**/
  @media screen and (min-width: 320px) and (max-width: 736px) {
    html,
    body {
      width: 100%;
      overflow-x: hidden;
    }

    /**navbar**/

    .nav-bar {
      padding: 16px;
    }

    /**filters**/

    .filters-container ol {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px;
      padding: 0px;
      margin-left: 53px;
    }
    .filter-1 .filter-2 .filter-3 li {
      width: 100%;
    }

    .filters-container h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 18px;
    }

    /**restaurant-container**/
    .restaurant-container {
      display: flex;
      flex-direction: column;
      background-color: #f2f2f2;
    }

    /**container menus**/
    .restaurant-1 .restaurant-2 .restaurant-3 .restaurant-4 {
      display: flex;
      flex-direction: column;
      align-content: space-around;
    }

    .container-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .container-menu h1 {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .cards-restaurant {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
      margin-left: 30px;
    }

    .card {
      width: 100%;
    }

    .card-text {
      flex: 1;
    }

    .list-title h2{
      margin-right: 249px;
    }

    /**start**/
    .start-menu {
      display: flex;
      flex-direction: column;
      align-content: center;
      margin-left: 17px;
    }
    .start-1 {
      width: 100%;
    }
    .start-2 {
      width: 100%;
      margin-right: 15px;
    }
    .start-3 {
      width: 100%;
      margin-left: 1px;
    }
    .start-4 {
      width: 100%;
      margin-right: 15px;
      margin-top: -16px;
      margin-bottom: 25px;
    }

    /**plat**/
    .plats-menu {
      display: flex;
      flex-direction: column;
      align-content: center;
      margin-left: 6px;
    }
    .plat-1 {
      width: 100%;
      margin-left: 1px;
    }
    .plat-2 {
      width: 100%;
      margin-right: 15px;
    }
    .plat-3 {
      width: 100%;
      margin-left: 1px;
    }

    /**dessert**/
    .dessert-menu {
      display: flex;
      flex-direction: column;
      align-content: center;
      margin-left: 2px;
    }
    .dessert-1 {
      width: 100%;
    }
    .dessert-2 {
      width: 100%;
      margin-right: 27px;
    }
    .dessert-3 {
      width: 100%;
      margin-left: -4px;
      margin-right: 20px;
    }

    .cards-restaurant .heart {
      top: 40px;
      right: 8px;
    }

    .container-menu .heart {
      top: 65px;
      right: 8px;
    }
  }
}
